<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
  version="6.0">
  <!-- Servlets -->

  <!-- Servlet for injected frontend actions -->
  <servlet>
    <servlet-name>registry</servlet-name>
    <servlet-class>google.registry.module.RegistryServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- The Nomulus registry servlet. -->
  <servlet-mapping>
    <servlet-name>registry</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
