<div
  class="console-app__home"
  [class.console-app__home_tablet]="breakPointObserverService.isTabletView()"
>
  <h1 class="mat-headline-4">Dashboard</h1>
  <div class="console-app__home-widgets">
    <mat-card appearance="outlined">
      <mat-card-content>
        <h3>
          <mat-icon class="secondary-text">view_list</mat-icon>
          DUMs
        </h3>
        <p class="secondary-text">View Domains Under Management</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" (click)="viewDums()">
          View DUMs
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card appearance="outlined">
      <mat-card-content>
        <h3>
          <mat-icon class="secondary-text">settings</mat-icon>
          EPP Passwords
        </h3>
        <p class="secondary-text">View / Update EPP Password</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" (click)="updateEppPassword()">
          Update EPP Password
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card
      appearance="outlined"
      [elementId]="getElementIdForRegistrarsBlock()"
    >
      <mat-card-content>
        <h3>
          <mat-icon class="secondary-text">account_circle</mat-icon>
          Registrars
        </h3>
        <p class="secondary-text">View all registrars</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" (click)="viewRegistrars()">
          Manage Registrars
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
