.console-app__rdap {
  max-width: 616px;

  &-controls {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 20px;
    button {
      flex-shrink: 0;
    }
  }

  mat-card {
    margin-bottom: 30px;
  }
}
