<app-selected-registrar-wrapper>
  <div class="console-settings">
    <h1 class="mat-headline-4">Settings</h1>
    <nav
      mat-tab-nav-bar
      mat-stretch-tabs="false"
      mat-align-tabs="start"
      [tabPanel]="tabPanel"
    >
      <a
        mat-tab-link
        routerLink="contact"
        routerLinkActive="active-link"
        queryParamsHandling="merge"
        >Contacts</a
      >
      <a
        mat-tab-link
        routerLink="whois"
        routerLinkActive="active-link"
        queryParamsHandling="merge"
        >WHOIS Info</a
      >
      <a
        mat-tab-link
        routerLink="security"
        routerLinkActive="active-link"
        queryParamsHandling="merge"
        >Security</a
      >
    </nav>
    <mat-tab-nav-panel #tabPanel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
  </div>
</app-selected-registrar-wrapper>
