<app-selected-registrar-wrapper>
  <h1 class="mat-headline-4">Domains</h1>
  <div class="console-domains">
    @if (totalResults === 0) {
    <div class="console-app__empty-domains">
      <h1>
        <mat-icon class="console-app__empty-domains-icon secondary-text"
          >apps_outage</mat-icon
        >
      </h1>
      <h1>No domains found</h1>
    </div>
    } @else if(isLoading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    } @else {
    <mat-form-field class="console-app__domains-filter">
      <mat-label>Filter</mat-label>
      <input
        type="search"
        matInput
        [(ngModel)]="searchTerm"
        (ngModelChange)="sendInput()"
        #input
      />
    </mat-form-field>
    <mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z0"
      class="console-app__domains-table"
    >
      <ng-container matColumnDef="domainName">
        <mat-header-cell *matHeaderCellDef>Domain Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.domainName }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="creationTime">
        <mat-header-cell *matHeaderCellDef>Creation Time</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.creationTime.creationTime }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="registrationExpirationTime">
        <mat-header-cell *matHeaderCellDef>Expiration Time</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.registrationExpirationTime }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="statuses">
        <mat-header-cell *matHeaderCellDef>Statuses</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.statuses }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

      <!-- Row shown when there is no matching data. -->
      <mat-row *matNoDataRow>
        <mat-cell colspan="4">No domains found</mat-cell>
      </mat-row>
    </mat-table>
    <mat-paginator
      [length]="totalResults"
      [pageIndex]="pageNumber"
      [pageSize]="resultsPerPage"
      [pageSizeOptions]="[10, 25, 50, 100, 500]"
      (page)="onPageChange($event)"
      aria-label="Select page of domain results"
      showFirstLastButtons
    ></mat-paginator>
    }
  </div>
</app-selected-registrar-wrapper>
