<div class="console-app mat-typography">
  <app-header (toggleNavOpen)="toggleSidenav()"></app-header>
  <mat-sidenav-container class="console-app__container">
    <mat-sidenav
      [mode]="breakpointObserver.isMobileView() ? 'over' : 'side'"
      [opened]="!breakpointObserver.isMobileView()"
      #sidenav
      class="console-app__sidebar"
    >
      <app-navigation />
    </mat-sidenav>
    <mat-sidenav-content class="console-app__content-wrapper">
      <div *ngIf="globalLoader.isLoading" class="console-app__global-spinner">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <div class="console-app__content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
