<div class="console-app mat-typography">
  <app-header (toggleNavOpen)="toggleSidenav()"></app-header>
  <div class="console-app__global-spinner">
    <mat-progress-bar
      mode="indeterminate"
      *ngIf="globalLoader.isLoading"
    ></mat-progress-bar>
  </div>
  <mat-sidenav-container class="console-app__container">
    <mat-sidenav-content class="console-app__content-wrapper">
      <div class="console-app__content" role="main">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
    <mat-sidenav
      [mode]="breakpointObserver.isMobileView() ? 'over' : 'side'"
      [opened]="!breakpointObserver.isMobileView()"
      [disableClose]="!breakpointObserver.isMobileView()"
      #sidenav
      class="console-app__sidebar"
    >
      <app-navigation />
    </mat-sidenav>
  </mat-sidenav-container>
</div>
