<div
  class="settings-security__edit-password"
  cdkTrapFocus
  [cdkTrapFocusAutoCapture]="true"
>
  <p>
    <button
      mat-icon-button
      aria-label="Back to security settings"
      (click)="goBack()"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
  </p>
  <h1>Update EPP password</h1>
  <p class="secondary-text">
    Passwords must be between 6 and 16 alphanumeric characters
  </p>
  <form
    (ngSubmit)="save()"
    [formGroup]="passwordUpdateForm"
    class="settings-security__edit-password-form"
  >
    <div class="settings-security__edit-password-field">
      <mat-form-field appearance="outline">
        <mat-label>Old password: </mat-label>
        <input
          matInput
          type="text"
          formControlName="oldPassword"
          required
          autocomplete="current-password"
        />
        <mat-error *ngIf="hasError('oldPassword') as errorText">{{
          errorText
        }}</mat-error>
      </mat-form-field>
    </div>
    <div class="settings-security__edit-password-field">
      <mat-form-field appearance="outline">
        <mat-label>New password: </mat-label>
        <input
          matInput
          type="text"
          formControlName="newPassword"
          required
          autocomplete="new-password"
        />
        <mat-error *ngIf="hasError('newPassword') as errorText">{{
          errorText
        }}</mat-error>
      </mat-form-field>
    </div>
    <div class="settings-security__edit-password-field">
      <mat-form-field appearance="outline">
        <mat-label>Confirm new password: </mat-label>
        <input
          matInput
          type="text"
          formControlName="newPasswordRepeat"
          required
          autocomplete="new-password"
        />
        <mat-error *ngIf="hasError('newPasswordRepeat') as errorText">{{
          errorText
        }}</mat-error>
      </mat-form-field>
    </div>
    <button
      mat-flat-button
      color="primary"
      [disabled]="!passwordUpdateForm.valid"
      aria-label="Save epp password update"
      type="submit"
      class="settings-security__edit-password-save"
    >
      Save
    </button>
  </form>
</div>
