.settings-security__edit-password {
  max-width: 616px;
  &-field {
    width: 100%;
    mat-form-field {
      margin-bottom: 20px;
      width: 100%;
    }
  }
  &-form {
    margin-top: 30px;
  }
  &-save {
    margin-top: 30px;
  }
}
