<div
  class="settings-security__edit"
  cdkTrapFocus
  [cdkTrapFocusAutoCapture]="true"
>
  <h1>IP Allowlist</h1>
  <p>
    Restrict access to EPP production servers to the following IP/IPv6
    addresses, or ranges like 1.1.1.0/24
  </p>
  <form (ngSubmit)="save()">
    @for (ip of dataSource.ipAddressAllowList; track ip.value) {
    <div class="settings-security__edit-ip">
      <mat-form-field appearance="outline">
        <input
          matInput
          [disabled]="isUpdating"
          type="text"
          [(ngModel)]="ip.value"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
      <button
        matSuffix
        mat-icon-button
        [attr.aria-label]="'Remove IP entry ' + ip.value"
        (click)="removeIpEntry(ip)"
        [disabled]="isUpdating"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    }
    <button
      mat-button
      [disabled]="isUpdating"
      color="primary"
      (click)="createIpEntry()"
      aria-label="Add new IP address"
      type="button"
    >
      + Add IP
    </button>

    <h1>SSL Certificate</h1>
    <p>X.509 PEM certificate for EPP production access.</p>
    <mat-form-field appearance="outline">
      <textarea
        class="console-app__clientCertificateValue"
        matInput
        [disabled]="isUpdating"
        [(ngModel)]="dataSource.clientCertificate"
        [ngModelOptions]="{ standalone: true }"
      ></textarea>
    </mat-form-field>
    <h1>Failover SSL Certificate</h1>
    <p>X.509 PEM backup certificate for EPP Production Access.</p>
    <mat-form-field appearance="outline">
      <textarea
        matInput
        [disabled]="isUpdating"
        [(ngModel)]="dataSource.failoverClientCertificate"
        [ngModelOptions]="{ standalone: true }"
      ></textarea>
    </mat-form-field>
    <button
      mat-flat-button
      color="primary"
      [disabled]="isUpdating"
      aria-label="Save security settings"
      type="submit"
      class="settings-security__edit-save"
    >
      Save
    </button>
  </form>
</div>
