.console-app__resources {
  display: flex;
  flex-wrap: wrap-reverse;
  > div {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    max-width: 300px;
    min-width: 200px;
    margin-top: 30px;
  }
  img {
    aspect-ratio: 1 / 1;
    width: 100%;
  }
  &-subhead {
    font-size: 1.25rem;
    margin-bottom: 20px;
  }
}
