<div class="console-app__registrar">
  <mat-form-field class="field-small" appearance="outline">
    <mat-label>Registrar</mat-label>
    <input
      type="text"
      placeholder=""
      aria-label="Select Registrar"
      matInput
      [ngModel]="registrarInput()"
      (ngModelChange)="registrarInput.set($event)"
      [ngModelOptions]="{ standalone: true }"
      (focus)="onFocus()"
      [matAutocomplete]="auto"
      spellcheck="false"
    />
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      (optionSelected)="onSelect($event.option.value)"
    >
      @for (registrarId of filteredOptions; track registrarId) {
      <mat-option
        [value]="registrarId"
        selected="registrarId === registrarService.registrarId()"
        >{{ registrarId }}</mat-option
      >
      }
    </mat-autocomplete>
  </mat-form-field>
</div>
