.console-app {
  &__registrar-view {
    &-controls {
      display: flex;
      align-items: center;
      margin: 20px 0;
    }
  }
  &__registrar-view-content {
    max-width: 616px;
    mat-divider:last-child {
      display: none;
    }
    mat-form-field {
      margin-bottom: 20px;
      width: 100%;
    }
  }
}
