<app-selected-registrar-wrapper>
  <h1 class="mat-headline-4" forceFocus>Billing Info</h1>
  <div class="console-app__billing">
    <div>
      <div class="console-app__billing-subhead">
        Billing records and information
      </div>
      <a
        class="text-l"
        href="{{ driveFolderUrl() }}"
        target="_blank"
        aria-label="View billing records on Google Drive"
        >View on Google Drive</a
      >
    </div>
    <div>
      <img src="./assets/billing.png" alt="Generic billing image" />
    </div>
  </div>
</app-selected-registrar-wrapper>
